{% extends 'base.html' %} 
{% block maincontent %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg-8">
      {% comment %} Inizio prima colonna  {% endcomment %}
        <h4>Riguardo noi</h4>

        <div class="card shadowed mb-4">
          <img src="https://webdevcodes.com/static/img/about-us.jpg" class="card-img-top img-fluid shadowed" alt="...">
            <div class="card-body">
              <h5 class="card-title pt-3">Thank you for checking my blog</h5>
              <p class="card-text description-card pt-2 ps-1 pe-1">

               Welcome to Webdevcodes, your number one source for Python and Django blogs. We're dedicated to giving you the best of information related to Web Development.

You can read all latest blogs related to Python and Django, or web development, we guide you and share our daily problems and their solutions, we create Webdevcodes because every Developer face some errors or issue and find the solutions and implement in his/her program, so we decided to make this website, whenever I face some problems or getting errors in my program, so I try my best to solve them, and after solving them errors, I write complete problem and solution here. If you guys relate your problems and find the solution here so please share the post or this website.
I'll also share my projects or GitHub repo in this website, if you found them helpful so please follow me on GitHub, and if you face some errors so kindle follow me on social media or GitHub and message me.

 

We hope you enjoy our blogs as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.

Sincerely,

Fabio Angeli
              
              </p>

            </div>
        </div>



    </div>
    <div class="col-lg-4">
      {% comment %} inizio seconda colonna {% endcomment %}
      <div class="mt-4">
      {% include "global-components/card-presentation.html" %}
    </div>
    {% include "global-components/card-latest-post.html" %}
    {% include "global-components/card-categories.html" %}
        
    </div>
    </div>
  </div>
</div>
{% endblock maincontent %}
