{% extends 'base.html' %} 
{% block maincontent %}
<div class="container">
  <div class="row mt-2 mb-4">
    <div class="col-lg-8">
        {% comment %} inizio prima colonna {% endcomment %}
      <div class="mt-4 mb-4">
        <div class="card shadowed p-5">
            <h6>Feel free to contact any time.</h6>
            <p>Drop Us a Message</p>
        <form action="" method="post">
          {% csrf_token %}
          <tr>
            <th>
              <label for="id_email">Email:</label>
            </th>
            <td>
              <input
                type="email"
                name="email"
                maxlength="254"
                required
                id="id_email"
              />
            </td>
          </tr>
          <tr>
            <th>
              <label for="id_subject">Subject:</label>
            </th>
            <td>
              <input
                type="text"
                name="subject"
                maxlength="255"
                required
                id="id_subject"
              />
            </td>
          </tr>
          <tr>
            <th>
              <label for="id_message" class="mb-1">Message:</label>
            </th>
            <td>
              <textarea
                name="message"
                cols="40"
                rows="10"
                required
                id="id_message"
              ></textarea>
            </td>
          </tr>
          <input type="submit" class="btn btn-primary mt-2" value="Submit" />
        </form>
      </div></div>
    </div>
    <div class="col-lg-4">
        {% comment %} inizio seconda colonna {% endcomment %}
      <div class="mt-4">
        {% include "global-components/card-presentation.html" %}
      </div>
      {% include "global-components/card-latest-post.html" %}
      {% include "global-components/card-categories.html" %}

    </div>
  </div>
</div>
{% endblock maincontent %}
